<h1>List of <%= @test.title %> test questions</h1>

<ul>
  <% @test.questions.each do |question| %>
    <li>
      <%= question.body %> ? <%= button_to "Delete", 
                                question_path(question),
                                method: :delete %>
    </li>
  <% end %>
</ul>
<%= link_to "Add quiestion in #{@test.title} test", new_test_question_path %>

<br><br>

<%= link_to "Back", tests_path %>
