<nav class="navbar navbar-light bg-light">
  <%= link_to 'TestGuru', root_path, class: 'navbar-brand' %>
  <span><%= t('.admin_panel') %></span>

  <span class="navbar-text">
    <p>
      <%= t('.welcome') %>, <%= mail_name(current_user.email) %></b> Guru |
      <% if current_user.kind_of?(Admin) %>
        <%= link_to t('.logout'), destroy_user_session_path, method: :delete %> |
        <%= link_to 'Admin Panel', admin_tests_path %>
      <% else %>
        <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
      <% end %>
    </p>
  </span>
</nav>
