<nav class="navbar navbar-light bg-light">
  <%= link_to 'TestGuru', root_path, class: 'navbar-brand' %>
  <span><%= t('.admin_panel') %></span>

  <span class="navbar-text">
    <p>
      <%= t('.welcome') %>, <%= mail_name(current_user.email) %></b> Guru |
    <% if current_user.kind_of?(Admin) %>
        <%= link_to t('.show_gist'), admin_gists_path %> |
        <%= link_to t('.show_badge'), admin_badges_path %> |
        <%= link_to t('.admin_panel'), admin_tests_path %> |
        <%= link_to t(:logout, scope: :base), destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to t(:logout, scope: :base), destroy_user_session_path, method: :delete %>
      <% end %>
    </p>
  </span>
</nav>
