<h1><%= t('.header', title: @test_passage.test.title)%></h1>

<% if @test_passage.successful? %>
  <h2 class="text-success" ><%=t('.test_passed')%></h2>
<% else %>
  <h2 class="text-danger" ><%=t('.test_failed')%></h2>
<% end %>

<p> <%= "#{t('.result')}: %.0f" % @test_passage.test_ratio %>% </p>

<%= link_to t('.back_to_tests'), root_path, class: 'btn btn-primary' %>

<%= link_to t('.feedback'), new_feedback_path, class: 'btn btn-primary' %>
