<div class="fixed-bottom bg-body-secondary text-center">
  <p><%= t('.year') %>: <%= now_year %></p>
  <p><%= t('.git_page') %>: <%= github_url('NicholasKrupenin', 'TestGuru') %></p>
  <p><%= t('.author') %>: <%= t('.name') %></p>
  <p><%= t('.school') %>: <a rel=nofollow rel=noopener href="http://thinknetica.com/"><%= t('.about') %></a></p>
</div>
