<div class="header">
  Welcome, <% if user_signed_in? %>
    <%= mail_name(current_user.email) %> <%= button_to "Logout", destroy_user_session_path, method: :delete, class: :button %>
  <% else %>
    to <%= link_to "TestGuru", root_path %> |<%= link_to "Signin", new_user_registration_path %>|<%= link_to "Login", new_user_session_path %>
  <% end %>
</div>
