<h1><%= t('.header', title: @question.body) %></h1>

<table>
  <tr>
    <th><b><%= t('.answers') %></b></th>
    <th colspan="3" ><b><%= t('.actions') %></b></th>
  </tr>

  <%= render @question.answers %>

</table>

<br><br>
<%= link_to t(:create, scope: :base), new_admin_question_answer_path(@question) %>
<br><br>
<%= link_to t('.back_question'), admin_test_path(@question.test) %>
<br><br>
<%= link_to t(:back, scope: :base), admin_tests_path %>
