<h1> Question - <%= @question.body %> </h1>

<table>
  <tr>
    <th> <b>Answer</b> </th>
    <th colspan="3" > <b>What to do </th>
  </tr>

  <%= render @question.answers %>

</table>

<br><br>
<%= link_to "Add answer", new_admin_question_answer_path(@question) %>
<br><br>
<%= link_to "Back to question", admin_test_path(@question.test) %>
<br><br>
<%= link_to "Back to test", admin_test_path %>
