<h1 class="text-center"><%= t('.header') %></h1>

<table class = "table table-striped table-bordered text-center">
  <tr>
    <th class="sort-by-title pointer">
      <b><%= t('.title') %></b>
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    </th>
    <th><b><%= t('.actions') %></b></th>
    <th><b><%= t('.questions') %></b></th>
  </tr>

  <%= render @tests %>

</table>
<br><br>
<%= link_to t(:create, scope: :base), new_admin_test_path, class: 'btn btn-primary' %>
