<h1><%= t('.questions') %></h1>

<table>
  <tr>
    <th><b><%= t('.questions') %></b></th>
    <th colspan="2" ><b><%= t('.actions') %></th>
  </tr>

  <%= render @test.questions %>
</table>

<br><br>
<%= link_to t(:create, scope: :base), new_admin_test_question_path(@test) %>
<br><br>
<%= link_to t(:back, scope: :base), admin_tests_path %>
