<h1 class="text-center"><%= t('.questions') %></h1>

<table class = "table table-striped table-bordered text-center">
  <tr>
    <th><b><%= t('.questions') %></b></th>
    <th><b><%= t('.actions') %></b></th>
  </tr>

  <%= render @test.questions %>
</table>

<div class="d-grid gap-2 d-md-block">
  <%= link_to t(:create, scope: :base), new_admin_test_question_path(@test), class: 'btn btn-primary' %>
  <%= link_to t(:back, scope: :base), admin_tests_path, class: 'btn btn-primary' %>
</div>
