<h1>List of <%= @test.title %> test questions</h1>

<%= render "shared/style" %>

<table style="width:70%">
  <tr>
    <th> <b>Question</b> </th>
    <th colspan="2" > <b>What to do </th>
  </tr>

<%= render partial: "question", collection: @test.questions %>

</table>

<br><br>

<%= link_to "Add quiestion in #{@test.title} test", new_test_question_path(@test) %>
https://github.com/NicholasKrupenin/TestGuru/pull/10
<br><br>

<%= link_to "Back", tests_path %>
